background-color{
    background-color: #37d8e6;
}

#orb{
    height: 300px;
    width: 300px;
    border-radius: 100px;
    
}


background-color{ 
    background-image: url(https://assets.entrepreneur.com/content/16x9/822/why-should-investing-money-real-estate.jpg